# Зависимости и логи
node_modules
npm-debug.log
*.log

# Артефакты сборки
dist
.nyc_output
coverage
.coverage

# Git
.git
.gitignore

# Настройки IDE и локальной среды
.idea
.vscode
.DS_Store
.env
.bun.lock

# Служебные файлы проекта
README.md

# Конфигурация CI/CD и хуков
.husky/
