<h1 class="text-3xl font-bold text-center mb-6">КОНТАКТЫ</h1>

<h2 class="text-2xl font-semibold mb-3">Напишите нам</h2>
<form class="mb-6">
  <div class="mb-3">
    <app-base-input [type]="'text'" [title]="'Имя'" />
  </div>

  <div class="mb-3">
    <app-base-input [type]="'email'" [title]="'Email'" />
  </div>

  <div class="mb-3">
    <app-base-input [type]="'tel'" [title]="'Телефон'" />
  </div>

  <div class="mb-3">
    <app-base-input [type]="'text'" [title]="'Тема'" />
  </div>

  <div class="mb-3">
    <label for="message" class="font-medium">Сообщение:</label>
    <textarea
      id="message"
      name="message"
      rows="5"
      class="w-full border border-gray-400 px-2 py-1 mt-1 resize-none"
      required
    ></textarea>
  </div>

  <button type="submit" class="bg-gray-700 text-white px-6 py-1 hover:bg-gray-600">
    Отправить
  </button>
</form>

<hr class="my-6 border-gray-400" />

<h2 class="text-2xl font-semibold mb-3">Адрес</h2>
<p class="mb-2 text-gray-800">
  <b class="font-bold">Телефон горячей линии:</b> 8 (800) 770-79-99 (бесплатно по России)
</p>
<p class="mb-2 text-gray-800"><b class="font-bold">Email:</b> info&#64;dns-shop.ru</p>
<p class="mb-2 text-gray-800">
  <b class="font-bold">Один из офисов:</b>
  Троицк, Троицк на Городской, ул. Городская, 24, поселение Троицк, Москва, 108841
</p>
<p class="mb-4 text-gray-800"><b class="font-bold">График работы:</b> Ежедневно с 10:00 до 21:00</p>

<h2 class="text-2xl font-semibold mb-3">Как нас найти</h2>
<div class="border border-gray-400 mb-2" style="width: 100%; height: 400px">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18082.574390573463!2d37.28590598095916!3d55.49191752380388!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x414aabb6c52a1947%3A0x718ae425a4b0439!2sDNS!5e0!3m2!1sru!2sru!4v1761467100254!5m2!1sru!2sru"
    width="100%"
    height="100%"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</div>
