<div class="container mx-auto px-4 py-8">
  <div class="mb-8">
    <h1 class="text-3xl font-bold mb-4">Каталог товаров</h1>

    <div class="form-control">
      <div class="join">
        <input
          type="text"
          placeholder="Поиск товаров..."
          class="input input-bordered join-item w-full max-w-md"
        />
        <button class="btn btn-ghost border-2 border-base-content/20 join-item">Найти</button>
      </div>
    </div>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    @if (products$ | async; as products) {
      @for (product of products; track product.id) {
        <app-product-card [product]="product" />
      }
    } @else {
      <div class="flex justify-center items-center w-full col-span-full py-12">
        <div class="loading loading-spinner loading-lg"></div>
      </div>
    }
  </div>
</div>
